@font-face {
    font-family: 'dana-medium';
    src: url('/public/fonts/dana/dana\ medium.ttf');
}

.tableSectionUWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 500px;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'dana-medium';

    // max with
    img {
        max-width: 20px;
    }

    h2 {
        font-size: 40px;
    }

    // size



    #tableUSection {
        background-color: transparent;
        border: none;
        color: inherit;
        background-color: rgba(250, 251, 241, 1);


        thead {
            background-color: rgb(250, 250, 249);
        }

        tfoot {
            background-color: rgb(250, 250, 249);
        }

        tbody {
            tr {
                border-bottom: 1px solid #dddddd;
                td:nth-child(6) {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
              
            }


            tr:last-of-type {
                border-bottom: 2px solid #ffffff;
            }
        }

        th,
        td {
            padding: 12px 30px;
        }


    }
    
}
#formUser{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}