#app{
    height: 0px !important;
}
#landingPageSection{
    display: flex;
    flex-direction: column;
    gap: 80px;



    #contentSection{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}