
#landingPageSection{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 7% 0 0;



    #contentSection{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}