.inputInsurance {

::placeholder{
  font-size: 30px;
}

  &[data-size="medium"] {
    width: 800px;
    height: 100px;
    border-radius: 10px;
  }

  &[data-size="large"] {
    width: 950px;
    height: 100px;
    border-radius: 10px;
  }

  &[data-size="small"] {
    width: 250px;
    height: 52px;
    border-radius: 5px;
  }
  &[data-size="extraSmall"] {
    width: 50px;
    height: 10px;
    border-radius: 2px;
  }

  &[data-fontSize="medium"] {
    font-size: 20px;
  }

  &[data-fontSize="small"] {
    font-size: 16px;
  }

  &[data-fontSize="large"] {
    font-size: 24px;
  }

  &[data-status="primary"] {
    background-color: #FEFFF8;
    border: none;
    text-align: right;
    outline: none;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(250, 255, 239, 0.2) 0px 2px 8px 0px;
    }

    &:disabled {
      color: #8c8c8c;
      background-color: #ececec;
    }
  }

  &[data-status="resetInput"] {
    background-color: transparent;
    color: #131212;
    border: none;
    text-align: right;
    outline: none;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      cursor: pointer;
    }

    &:disabled {
      color: #8c8c8c;
      background-color: #ececec;
    }
  }

}