.categorySectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin: 0 auto;
  cursor: pointer;

  
  h3{
    font-size: 36px;
    width: 20%;
    text-align: center;
  }
  // max with
  img {
    max-width: 150px;
  }

  // size
  &[data-size="medium"] {
    width: 98%;
    height: 450px;
    font-size: 20px;
  }

  &[data-size="large"] {
    width: 100vw;
    height: 400px;
  }

  &[data-size="small"] {
    width: 98vw;
    height: 300px;
    font-size: 16px;
  }



  // type
  &[data-status="default"] {

    background-color: transparent;
    color: #151515;
    text-align: center;


  }

  &[data-status="primary_green"] {
    background-color: rgb(251, 253, 233);
    color: #151515;
    text-align: center;


  }

  .categorySection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

  }


}