.cardComponentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  // max with
  img {
    max-width:120px;
  }

  .cardComponent {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
  }

  &[data-size="medium"] {
    width: 360px;
    height: 550px;
    border-radius: 8px;
    padding: 1%;
  }

  &[data-size="large"] {
    width: 350px;
    height: 500px;
    border-radius: 15px;
    padding: 2%;
  }

  &[data-size="small"] {
    width: 200px;
    height: 300px;
    border-radius: 7px;
  }

  //  type
  &[data-status="primary"] {
    background-color: rgba(250, 251, 241, 1);
    color: rgb(0, 0, 0);
    text-align: center;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  &[data-status="second_color"] {
    background-color: rgba(250, 225, 196, 0.96);

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  &[data-status="possible"] {
    background-color: rgb(255, 255, 255);

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  #contents {
    text-align: right;

    // #paragraph{
    //   height: 53px;
    //   overflow: hidden;
    // }
    #paragraph {
      max-height: 100px;
      overflow: hidden;
      position: relative;
    }

    #paragraph.collapsed {
      max-height: initial;
    }
  }

  #buttonGroups {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img{
      max-width: 30px;
    }


    #access {
      width: fit-content;
      display: flex;
      justify-content: space-between;
    }
  }
}