.socialSectionSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  gap: 70px;


  h2 {
    font-size: 45px;
    width: 36%;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }

  // max with
  img {
    width: 70px;
  }

  // size
  &[data-size="medium"] {
    width: 96%;
    height: 450px;
    font-size: 20px;
  }

  &[data-size="large"] {
    width: 100vw;
    height: 400px;
  }

  &[data-size="small"] {
    width: 90%;
    font-size: 16px;
  }



  // type
  &[data-status="default"] {

    background-color: transparent;
    color: #151515;
    text-align: center;


  }

  &[data-status="primary_green"] {
    background-color: rgb(251, 253, 233);
    color: #151515;
    text-align: center;


  }

  .socialSection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

  }


}