.searchBoxWrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10% 0  5%;
    gap: 50px;

    // max with
    img {
        max-width:45px;
        align-self: center;
    }

    h2{
        font-size: 63px;;
        width: 33%;
        text-align: center
    }

    #searchSection {
        background-color: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        #results {
            position: absolute;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            background: #ffffff00;
            // border: 1px solid #ddd;
            border-top: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            z-index: 1000;


            li {
                padding: 10px;
                margin: 0;
                background: #f5ffe0;
                border-bottom: 1px solid #ddd;
                cursor: pointer;


                &:hover {
                    padding: 1% 2%;
                    transition: padding 1s ease-out;
                    background-color: #eaffb2;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }


        #searchBoxes {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 10px;
            align-items: center;
            width: 84%;
        }
    }

    // size
    &[data-size="medium"] {
        width: 100%;
        height: 337px;
        align-self: center;
    }

    &[data-size="large"] {
        width: 100%;
        height: 70px;
    }

    &[data-size="small"] {
        width: 60%;
        height: 48px;
    }

    &[data-status="default"] {

        background-color: transparent;
        color: #282727;
        text-align: center;
    }

    &[data-status="feature"] {
        background-color: rgb(233, 252, 211);
        color: #151515;
        text-align: center;

        &:disabled {
            color: #8c8c8c;
            background-color: #ececec;
        }
    }




}