.heroSectionWrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0px auto 0;

    .heroSection {
        border: none;
        color: inherit;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    // size
    &[data-size="medium"] {
        width: 96%;
        height: 840px;
        font-size: 20px;
    }

    &[data-size="large"] {
        width: 100%;
        height: 335px;
        font-size: 20px;
    }

    &[data-size="small"] {
        width:96%;
        height:610px;
        font-size: 20px;
    }



    // type
    &[data-status="default"] {
        background-color: transparent;
        color: #151515;
        text-align: center;


    }

    &[data-status="primary_green"] {
        background-color: transparent;
        color: #151515;
        text-align: center;


    }

    #heroDescription {
        width: 35%;

        h2{
            font-size: 60px;
        }
    }

    #imageSectionHero {
        width: 49%;
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: center;
        #imageHero {
            width: 50%;
        }
    }


}