@font-face {
  font-family: 'dana-medium';
  src: url('/public/fonts/dana/dana\ medium.ttf');
}


.buttonComponentInsurance {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  cursor: pointer;

  // max with
  img {
    max-width: 20px;
  }

  .buttonCarInsurance {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: 'dana-medium';

  }

  // size
  &[data-size="medium"] {
    width: 200px;
    height: 50px;
    border-radius: 7px;
  }

  &[data-size="large"] {
    width: 235px;
    height: 70px;
    border-radius: 7px;
    font-size: 22px;
  }

  &[data-size="small"] {
    // for search box
    width: 140px;
    height: 100px;
    border-radius: 7px;
    font-size: 16px;
  }

  &[data-size="extraSmall"] {
    width: 67px;
    height: 46px;
    border-radius: 8px;
    font-size: 15.63px;
  }


  &[data-size="breadth"] {
    width: 233px;
    height: 49px;
    border-radius: 7px;
  }

  &[data-color="orange"] {
    background-color: rgba(252, 155, 40, 1);
    color: rgb(255, 255, 255);
  }

  &[data-color="white"] {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
  }

  // type
  &[data-status="primaryGreen"] {

    background-color: rgba(155, 189, 3, 1);
    color: #ececec;
    text-align: center;

    &:hover {
      background-color: rgba(161, 197, 0, 1);
    }

    &:focus,
    &:active {
      background-color: rgba(135, 164, 2, 1);
    }

    &:disabled {
      color: #8c8c8c;
      background-color: #ececec;
    }
  }

  &[data-status="primaryOrang"] {
    background-color: rgba(252, 155, 40, 1);
    color: #ececec;
    text-align: center;

    &:hover {
      background-color: rgba(255, 181, 39, 1);
    }

    &:focus,
    &:active {
      background-color: rgba(253, 137, 0, 1);
    }

    &:disabled {
      color: #8c8c8c;
      background-color: #ececec;
    }
  }


  &[data-status="signIn_up"] {
    background-color: transparent;
    color: #0b0b0b;
    text-align: center;
    width: 200px;
    height: 55px;
    border-radius: 50px;
    border: 5px solid rgba(155, 189, 3, 1);
  


    &:hover {
      background-color: rgba(249, 255, 224, 0.79);
    }

    &:focus,
    &:active {
      background-color: rgba(249, 255, 224, 0.79);
    }

    &:disabled {
      color: #8c8c8c;
    }
  }

  &[data-status="logOut"] {
    background-color: rgb(232, 167, 69);
    color: #ffffff;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 50px;



    &:hover {
      background-color: transparent;
      color: rgb(255, 149, 0);
    }

    &:focus,
    &:active {
      background-color: rgba(253, 225, 164, 0.79);
      color: rgb(255, 149, 0);
    }

    &:disabled {
      color: #8c8c8c;
    }
  }

  &[data-status="love"] {
    background-color: transparent;
    color: #1c1c1c;
    width: 40px;
    height: 35px;
    text-align: center;
    align-self: center;

    &:disabled {
      color: #8c8c8c;
    }

    &:hover{
      transform: rotate(360deg);
      transition: transform 1s ease-in-out; 
    }
  }

  &[data-status="counter"] {
    width: 20%;
    height: 100%;
    background-color: rgba(252, 155, 40, 1);

    &:hover {
      background-color: rgb(247, 136, 0);
    }
  }

  &[data-status="seen"] {
    background-color: transparent;
    color: #1c1c1c;
    width: 40px;
    height: 35px;
    text-align: center;
    align-self: center;

    &:hover {
      border: rgba(252, 155, 40, 1);
    }

    &:focus,
    &:active {
      border: rgba(252, 155, 40, 1);
    }

    &:disabled {
      color: #8c8c8c;
    }
  }

  &[data-status="edit"] {
    width: 20px;
    height: 20px;

    &:hover {
      border: rgba(252, 155, 40, 1);
    }

    &:focus,
    &:active {
      fill: rgba(255, 216, 170, 1);
      border: rgba(252, 155, 40, 1);
    }

    &:disabled {
      color: #8c8c8c;
    }
  }

  &[data-status="filter"] {
    border-radius: 2;
    background-color: transparent;
    border: 1.5px solid rgba(155, 189, 3, 1);
    color: rgb(0, 0, 0);
    font-family: 'dana-medium';

    &:hover {
      background-color: rgba(155, 189, 3, 1);
      color: rgb(255, 255, 255);
    }

    &:focus,
    &:active {
      background-color: rgba(155, 189, 3, 1);
      color: rgb(255, 255, 255);
    }

    &:disabled {
      color: #8c8c8c;
    }
  }

  &[data-status="plan"] {
    border-radius: 50px;
    font-family: 'dana-medium';


    &:disabled {
      color: #8c8c8c;
    }
  }
  &[data-status="deleted"] {
    width: 20px;
    height: 20px;

    &:hover {
      border: rgba(252, 155, 40, 1);
    }

    &:focus,
    &:active {
      fill: rgba(255, 216, 170, 1);
      border: rgba(252, 155, 40, 1);
    }

    &:disabled {
      color: #8c8c8c;
    }
  }

}